@import "tailwindcss";

@theme {
    --color-sidebar-0: #F6F6F7;
    --color-sidebar-1: #161518;
    --color-body-0: #FFFFFF;
    --color-body-1: #1B1A1F;
    --color-dim-0: #66636A;
    --color-dim-1: #97939D;
    --color-primary-0: #3D3A43;
    --color-primary-1: #DEE1D8;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    background: #FAFAFA;
}

::-webkit-scrollbar-thumb {
    border: 2px solid #FAFAFA;
    border-radius: 20px;
    background: #C3C3C3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7D7D7D;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        background: #28272C;
    }

    ::-webkit-scrollbar-thumb {
        border: 2px solid #28272C;
        background-color: #69686C;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #949396;
    }
}

@layer utilities {
    .shadow-cm {
        -webkit-box-shadow: 10px 2px 100px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 2px 100px 0px rgba(0,0,0,0.5);
        box-shadow: 10px 2px 100px 0px rgba(0,0,0,0.5);
    }

    .shadow-cm-sm {
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
    }

    .shadow-cm-tn {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    }

    .logo {
        filter: invert(1);
    }
}
